@charset "UTF-8";

@font-face {/*rbl*/
	font-family: 'RotisSansSerifLight45';
	src: url('../fonts/rbl.eot');
	src: local('../rbl'), url('../fonts/rbl.woff') format('woff'), url('../fonts/rbl.ttf') format('truetype');
}
@font-face {/*rc*/
	font-family: 'RotisSemiSans';
	src: url('../fonts/RotisSemiSans.eot');
	src: local('../RotisSemiSans'), url('../fonts/RotisSemiSans.woff') format('woff'), url('../fonts/rc.ttf') format('truetype');
}
@font-face {/*rcb*/
	font-family: 'RotisSemiSansBold65';
	src: url('../fonts/rcb.eot');
	src: local('../rcb'), url('../fonts/rcb.woff') format('woff'), url('../fonts/rcb.ttf') format('truetype');
}
@font-face {/*rceb*/
	font-family: 'RotisSemiSansExtraBold';
	src: url('../fonts/rceb.eot');
	src: local('../rceb'), url('../fonts/rceb.woff') format('woff'), url('../fonts/rceb.ttf') format('truetype');
}
@font-face {/*rcl*/
	font-family: 'RotisSemiSansLight45';
	src: url('../fonts/rcl.eot');
	src: local('../rcl'), url('../fonts/rcl.woff') format('woff'), url('../fonts/rcl.ttf') format('truetype');
}
@font-face {/*rg*/
	font-family: 'RotisSerif55';
	src: url('../fonts/rg.eot');
	src: local('../rg'), url('../fonts/rg.woff') format('woff'), url('../fonts/rg.ttf') format('truetype');
}

@font-face {
	font-family: 'CustomNarrow';
	src: url('../fonts/ArialNarrow.eot');
	src: local('../fontsArialNarrow'), url('../fonts/ArialNarrow.woff') format('woff'), url('../fonts/ArialNarrow.ttf') format('truetype');
}


*{
   margin:0;
   padding:0;
   font-family: "RotisSemiSansLight45", "CustomNarrow", Arial, Sans-Serif;
/*  -webkit-font-smoothing: antialiased;
    transition: all 1s ease-in; */
}
		
body {
	background-color: #bd282e;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}


/*estilos genericos*/

h1 {
	color:black;
	font-size:24px;
}
h2 {
	color:black;
	font-size:22px;
}
h3 {
	color:black;
	font-size:20px;
}
h5, h6, p, text{
	font-family: "CustomNarrow", "RotisSemiSansLight45", Arial, Sans-Serif;
}
h4 {
	color: black;
	font-size:18px;
}
h5 {
	color:black;
	font-size:14px;
}
h6 {
	color:black;
	font-size:12px;
}

p {
	color:black;
	font-size:14px;
}

table {
	width: 100%;
	font-size: .9em;
}

label{
	color:black;
	font-size:14px;
	position: relative;
	top: 3px;
}
input[type=button]{
	cursor: pointer;
}
span{
	color: #bd282e;
}

#wrapperGeral{
	width: 960px;
	height: 620px;
	overflow: hidden;	
}

#cabezalho_geral {
	position: relative;
	display: block;
	height: 80px;
	width: 960px;
}
#cabezalho_geral div {
	width: 82%;
	float: left;
}
#cabezalho_geral h1, #cabezalho_geral h4{ color: white;}

#cabezalho_geral img{
	float: right;

}

.numerosGrafico{
	font-weight: bold;
	font-size: 10px;
	color: black;
	float: left;
	margin-left: 10px;

}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}


#main{
	height: 540px;
	background-image: url("../images/sky.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 120s linear infinite;
	-webkit-animation: animatedBackground 120s linear infinite;
}
#roundCorner_upRight{
	position: absolute;
	top: 80px;
	right: 0;
	z-index: 10;
}
#roundCorner_bottomLeft{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 11;	
}

#main h1{
	color: rgb(0, 110, 171);
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

#main div.titulos{
	width: 100%;
	position: absolute;
	top: 10px;
	opacity: 0;
}

#main div.titulos h4{
	font-size: 18px;
	text-align: center;
	width: 570px;
	margin: 0 auto;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
}





div#switchWrapper{
	position: absolute;
	top: 47px;
	right: 36px;
	z-index: 1000;
	display: none;
}
div#switchWrapper img#switch{
	float: left;
	cursor: pointer;
}
div#switchWrapper div{
	float: left;
	margin-left: 5px;
}
div#switchWrapper p{
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 11px;
	color: #666;
}
div#switchWrapper p:nth-child(1){
	margin-top: 10px;
}
div#switchWrapper p:nth-child(2){
	margin-top: 25px;
}



.floor{
	overflow: hidden;
}

img#aviao{
	width: 160px;
	position: absolute;
	left: -100px;
	top: 42px;
	opacity: 0;
}

/* linha divisoria 1 */

img.linhaDivisoria{
	position: absolute;
}
div#txtPasso1{
	width: 100%;
	position: absolute;
	top: 165px;
	display: none;
}
div#txtPasso1 h4#txtPasso1{
	font-size: .9em;
	text-align: center;
}
img#linhaTxt1{
	top: 8px;
	left: 87px;
}

/* seção 1 */

div#secao1{
	width: 100%;
	position: absolute;
	top: 120px;

}

div#secao1 div#txtVoosWrapper {
	position: absolute;
	top: 66px;
	display: none;
}

.numerosGrafico { 
	position: absolute;
}
div#txtVoosWrapper p.numerosGrafico{
	width: 40px;
	text-align: center;
}
#txtVoos_saopaulo 		{ left: 302px; }
#txtVoos_brasilia 		{ left: 335px; }
#txtVoos_riodejaneiro 	{ left: 365px; }
#txtVoos_fortaleza 		{ left: 393px; }
#txtVoos_belohorizonte 	{ left: 420px; }
#txtVoos_salvador 		{ left: 446px; }
#txtVoos_recife 		{ left: 471px; }
#txtVoos_portoalegre 	{ left: 498px; }
#txtVoos_curitiba  		{ left: 523px; }
#txtVoos_manaus 		{ left: 551px; }
#txtVoos_natal 			{ left: 576px; }
#txtVoos_cuiaba 		{ left: 602px; }


/* div#secao1 div#txtNomesCidadesWrapper{	
	position: absolute;
	display: none;
	left: 304px;
	top: 155px;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;

	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
div#secao1 div#txtNomesCidadesWrapper p.nomeCidade{
	text-align: right;
	position: relative;
	font-family: "CustomNarrow", "RotisSemiSansLight45", Arial, Sans-Serif;
}
div#secao1 div#txtNomesCidadesWrapper p#cidade_saopaulo 		{top: 7px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_brasilia 		{top: 24px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_riodejaneiro 	{top: 37px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_fortaleza 		{top: 51px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_belohorizonte 	{top: 60px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_salvador 		{top: 71px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_recife 			{top: 80px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_portoalegre 		{top: 88px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_curitiba 		{top: 99px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_manaus 			{top: 108px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_natal 			{top: 117px;}
div#secao1 div#txtNomesCidadesWrapper p#cidade_cuiaba 			{top: 124px;} */

div#secao1 div#bolinhasWrapper{
	position: relative;
	margin-left: 3px;
	top: 84px;
}

.bolinhas{
	position: absolute;
	width: 17px;
}

.bolinhas#bolinha_saopaulo 		{ left: 320px; opacity: 0; }
.bolinhas#bolinha_brasilia 		{ left: 353px; opacity: 0; }
.bolinhas#bolinha_riodejaneiro 	{ left: 384px; opacity: 0; }
.bolinhas#bolinha_fortaleza 	{ left: 411px; opacity: 0; }
.bolinhas#bolinha_belohorizonte { left: 438px; opacity: 0; }
.bolinhas#bolinha_salvador 		{ left: 465px; opacity: 0; }
.bolinhas#bolinha_recife 		{ left: 491px; opacity: 0; }
.bolinhas#bolinha_portoalegre 	{ left: 517px; opacity: 0; }
.bolinhas#bolinha_curitiba 		{ left: 543px; opacity: 0; }
.bolinhas#bolinha_manaus 		{ left: 569px; opacity: 0; }
.bolinhas#bolinha_natal 		{ left: 595px; opacity: 0; }
.bolinhas#bolinha_cuiaba 		{ left: 621px; opacity: 0; }

h5.legendasGrafico{
	position: absolute;
	display: none;
}
h5.legendasGrafico#legendaGraficoVoos{
	top: 62px;
	left: 43px;
}

div#secao1 h5#legendaGraficoEmissoes{
	top: 248px;
	left: 10px;
	width: 70px;
	text-align: right;
}

div#secao1 img#secao1_ON{
	margin-top: 90px;
	margin-left: 88px;
	pointer-events: none;
	display: none;
}
div#secao1 img#secao1_OFF{
	position: absolute;
	left: 88px;
	top: 275px;
	display: none;
}

div#secao1 div#txtValoresCarbonoWrapper{
	margin-left: 100px;
	position: absolute;
	top: 285px;
	display: none;
}
div#secao1 div#txtValoresCarbonoWrapper p{
	float: left;
	margin-left: 25px;
	position: absolute;
}

#txtEmissoes_saopaulo 		{ left:  29px; }
#txtEmissoes_brasilia 		{ left: 188px; }
#txtEmissoes_riodejaneiro 	{ left: 319px; }
#txtEmissoes_fortaleza 		{ left: 410px; }
#txtEmissoes_belohorizonte 	{ left: 458px; }
#txtEmissoes_salvador 		{ left: 501px; }
#txtEmissoes_recife 		{ left: 552px; }
#txtEmissoes_portoalegre 	{ left: 597px; }
#txtEmissoes_curitiba 		{ left: 629px; }
#txtEmissoes_manaus 		{ left: 664px; }
#txtEmissoes_natal 			{ left: 702px; }
#txtEmissoes_cuiaba 		{ left: 735px; }



div#txtPasso2{
	position: relative;
	top: 430px;
	left: 90px;
	width: 780px;
	display: none;
}

div#txtPasso2 h4{
	font-size: .9em;
	width: 480px;
	text-align: center;
	margin: 0 auto;
}


div#txtPasso2 img.linhaDivisoria#linhaDivisoriaSuperior{
	top: 3px;
}
div#txtPasso2 img.linhaDivisoria#linhaDivisoriaInferior{
	top:15px;
}




div#secao2{
	
}

div#secao2 img#plantas{
	position: absolute;
	bottom: 35px;
	left: 80px;
	cursor: pointer;
	display: none;
}
div#secao2 h5#legendaGraficoPlantas{
	top: 468px;
	left: 14px;
	text-align: right;
}




/* RODAPE */
div#rodape{
	position: absolute;
	top: 598px;
	z-index: 101;
	width: 960px;
	height: 10px;
}
div#rodape p#txtRodape{
	color: #555;
	float: left;
	font-size: 11px;
}
div#rodape p#txtRodape:hover{
	color: black;
}
div#rodape p#menuLinguasRodape{
	float: left;
	margin-left: 28px;
	width: 113px;
	text-align: center;
	font-size: .7em;
}
div#rodape p#menuLinguasRodape b{
	color: rgb(0, 110, 171);
	font-weight: bold;
}
div#rodape p#menuLinguasRodape a{
	text-decoration: none;
	color: #555;
}

div#rodape p#menuLinguasRodape a:hover{
	text-decoration: underline;
	color: black;
}

div#rodape div#nav_rodape{
	position: absolute;
	right: 0;
	bottom: -11px;
	width: 70px;
	height: 100px;
}
div#rodape div#nav_rodape{
	background-image:url('../images/painel_rodape.png');
}
div#rodape img.icones{
	margin-left: 28px;
	margin-top: 10px;
	opacity: .8;
	cursor: pointer;
}
div#rodape img.icones#bola{
	margin-top: 4px;
}
div#rodape img.icones:hover{
	opacity: 1;
}
div#rodape img.icones.selected{
	opacity: 1;
}


div#rodape div.painel_rodape{
	position: absolute;
	width: 735px;
	height: 60px;
	bottom: -10px;
	right: 0;
	padding: 15px 70px 0 15px;
	background-color: rgba(255,  255,  255,  0.8);
	background: rgba(255,  255,  255,  0.8);
	color: rgba(255,  255,  255,  0.8);
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	display: none;
}

h3.txt_rodape{
	font-size: 16px;
}
p.txt_rodape{
	margin-top: -12px;
	color: black;
	font-size: 11px;
	line-height: 13px;
	display: none;
}
 hr#peSecao2{
 	position: absolute;
	top: -14px;
	width: 670px;
	left: 140px;
	display: none;
 }


/*  TOOLTIPS  */
.tooltip{
	position: absolute;
	display: none;
	width: 140px;
	height: 53px;
	top: -20px;
	padding: 10px;
	background: rgba(255, 255, 255, .9);
	border: 1px solid grey;
	z-index: 1001;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
/* clearfix */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }